<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<div id="Params_Setting-tab-content" class="subProcessPage">
    <%- blocks.paramSetting%>
</div>
<div id="Warning_Setting-tab-content" class="subProcessPage">
    <%- blocks.warningSetting%>
</div>
<div id="Authority-tab-content" class="subProcessPage">
    <%- blocks.authoritySetting%>
</div>
<div id="About-tab-content" class="subProcessPage">
    <%- blocks.about%>
</div>
<%-body%>