<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>


<div id="users-tab-content" class="subProcessPage">
<%- blocks.users%>
</div>

<div id="addUsers-tab-content" class="subProcessPage">
<%- blocks.addUsers%>
</div>

<div id="MSSP-tab-content" class="subProcessPage">
<%- blocks.MSSP%>
</div>

<div id="divSP-tab-content" class="subProcessPage">
<%- blocks.divSP%>
</div>


<div id="infoPanel-tab-content" class="subProcessPage">
<%- blocks.infoPanel%>
</div>

<%-body%>