<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<div id="AgentAdmin-tab-content" class="subProcessPage">
<%- blocks.AgentAdmin%>
</div>
<div id="AgentAdd-tab-content" class="subProcessPage">
<%- blocks.AgentAdd%>
</div>

<div id="AgentUpdate-tab-content" class="subProcessPage">
<%- blocks.AgentUpdate%>
</div>

<div id="AgentSP-tab-content" class="subProcessPage">
<%- blocks.AgentSP%>
</div>

<div id="AgentSPAdmin-tab-content" class="subProcessPage">
<%- blocks.AgentSPAdmin%>
</div>

<div id="MSFMK-tab-content" class="subProcessPage">
    <%- blocks.MSFMK%>
</div>


<%-body%>